body {
    margin: 0;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
  
}

.foodName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 10%;
    background: #fff;
}

.name-text {
    flex: 1;
    padding-left: 100px;
}

.name-text h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #222;         
    letter-spacing: 1px;  
    margin-bottom: 15px;
}

.name-text h1 span {
    display: block;
    color: #ffce1b;        
    font-weight: 800;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.167);
}

.name-text p {
    margin: 20px 0;
    font-size: 20px;
    color: #7c7c7c;
    max-width: 500px;
}

.about-btn,
.recipe-btn {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.7rem 1.8rem; 
    margin: 0;
    font-family: inherit;
    font-size: 16px;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    border-radius: 500px;
    overflow: hidden;
    background: #ffce1b;
    color: black;
}

.about-btn span,
.recipe-btn span {
    position: relative;
    z-index: 2;
    transition: color 0.4s;
    color: white;
}

.about-btn:hover span,
.recipe-btn:hover span {
    color: black;
}

.about-btn::before,
.recipe-btn::before {
    content: "";
    position: absolute;
    top: 0; 
    left: -10%;
    width: 120%;
    height: 100%;
    background: #000;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    z-index: 0;
}

.about-btn:hover::before,
.recipe-btn:hover::before {
    transform: translate3d(100%, 0, 0);
}

.food-img {
    flex: 1;
    text-align: center;
}

.food-img img {
    width: 320px;
    border-radius: 50%;
    animation: spin 50s linear infinite;
}

.ingredients {
    display: flex;
    align-items: flex-start;    
    justify-content: space-between;
    padding: 60px 15%;
    gap: 40px;     
}

.ingredients img.food-img2-src {
    margin-top: 20px;
    width: 360px;           
    border-radius: 10px;     
}

.ingredients-p{
     padding-right: 100px;
}

.ingredients h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.ingredients p {
    max-width: 500px;
    margin: 0 auto 20px auto;
    color: #232323;
    margin-bottom: 20px;
    font-size: 17px;
}

.recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    text-align: left;
    padding: 60px 10%;
    background: #fff;
    gap: 60px; 
}

.recipe-content {
    flex: 2;
    max-width: 800px;         
}

.recipe h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.recipe p {
    font-size: 18px;       
    margin: 12px 0;         
    line-height: 1.8;     
    text-align: left;       
    color: #333;            
}

.step-label  {
    font-size: 20px;
    font-weight: bold;
    color: #ff9800;
    margin-right: 6px;
}

.recipe-side {
    flex: 1;                 
    display: flex;
    align-items: center;       
    justify-content: center;   
    min-width: 300px;          
}

.recipe-side .stack {
    margin-left: 50px;
    width: 100%;
    max-width: 350px;         
    transition: 0.25s ease;
}

.recipe-side .stack:hover {
    transform: rotate(5deg);
}

.recipe-side .stack:hover .card:before {
    transform: translateY(-2%) rotate(-4deg);
}

.recipe-side .stack:hover .card:after {
    transform: translateY(2%) rotate(4deg);
}

.card {
    aspect-ratio: 3 / 2;
    border: 4px solid;
    background-color: #fff;
    position: relative;
    transition: 0.15s ease;
    cursor: pointer;
    padding: 5% 5% 15% 5%;
}

.card:before,
.card:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 4px solid;
    background-color: #fff;
    transform-origin: center center;
    z-index: -1;
    transition: 0.15s ease;
    top: 0;
    left: 0;
}

.card:before { 
    transform: translateY(-2%) rotate(-6deg);
} 

.card:after { 
    transform: translateY(2%) rotate(6deg);
}

.image {
    width: 100%;
    border: 4px solid;
    background-color: #eee;
    aspect-ratio: 1 / 1;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.browser-warning {
    margin-bottom: 4rem;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.prev-btn,
.next-btn {
  --color: 255, 165, 0;
  border-radius: .5em;
  transition: .3s;
  background-color: rgba(var(--color), .2);
  color: rgb(var(--color));
  fill: rgb(var(--color));
  font-family: monospace;
  font-weight: bolder;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: 2px solid rgb(var(--color));
  box-shadow: 0 0 10px rgba(var(--color), .4);
  outline: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: .6em 1.2em;
}

.prev-btn:hover,
.next-btn:hover {
  box-shadow: 0 0 0 5px rgba(var(--color), .5);
}

.prev-btn span,
.next-btn span {
  transform: scale(.9);
  transition: .3s;
}

.prev-btn:hover span,
.next-btn:hover span {
  transform: scale(1);
}

.prev-btn svg,
.next-btn svg {
  font-size: 0;
  transition: .3s;
}

.next-btn svg {
  transform: scale(0.5) translateX(0%) rotate(0deg);
}
.next-btn:hover svg {
  font-size: 20px;
  transform: scale(1) translateX(20%) rotate(0deg);
}

.prev-btn svg {
  transform: scale(0.5) translateX(0%) rotate(180deg);
}

.prev-btn:hover svg {
  font-size: 20px;
  transform: scale(1) translateX(-20%) rotate(180deg);
}

.prev-btn:active,
.next-btn:active {
  transition: 0s;
  box-shadow: 0 0 0 5px rgb(var(--color));
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@supports (aspect-ratio: 1 / 1) {
    .browser-warning {
        display: none;
    }
}