body {
    font-family: sans-serif;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.world-map {
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    min-height: 30em;
    background-color: #7cbdff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container {
    position: relative;
}

svg {
    width: 100vw;
    height: 100vh;
}

path {
    fill: #f8f9fa;
    stroke: #5a5a5a;
    transition: 100ms;
}

.zoom-btn {
    position: absolute;
    left: 10px;
    top: 150px;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 9999;
}

.zoom-in { 
    top: 90px; 
}
.zoom-out {
    top: 120px; 
}

.zoom-btn:hover {
    background: rgba(255, 255, 255, 1);
}

/*path:hover {
    fill: #ffd438;
}*/
