body {
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.world-map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 30em;
    background-color: #7cbdff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container {
    position: relative;
}

svg {
    width: 150vw;
    height: 150vh;
}

path {
    fill: #f8f9fa;
    stroke: #5a5a5a;
    transition: 100ms;
}

.zoom-btn-group {
    position: fixed;
    left: 20px;
    top: 20%;
    display: flex;
    flex-direction: column;
    z-index: 20;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.zoom-btn {
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.85);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s, transform 0.2s;
}

.zoom-btn + .zoom-btn {
    border-top: none;

}

.zoom-btn:hover {
    color: #ffce1b;
    background: rgba(255, 255, 255, 1);
    transform: scale(1.05);
}

.marker-group {
    cursor: pointer;
    transition: transform 0.3s; 
    transform-box: fill-box;        
    transform-origin: center center;
}

.marker-group:hover {
    transform: scale(1.2); 
}

.marker-text {
    fill: #000;          
    font-size: 30px;     
    font-weight: bold;
    text-anchor: middle; 
    transition: fill 0.3s;
}

.marker-group:hover .marker-text {
    fill:#ffce1b;
    stroke-width: 1px;
}


