#password-strength-bar {
  --clr: red;
  position: relative;
  overflow: hidden;
  top: 5px;
  border-radius: 10rem;
  width: 0;
  height: 10px;
  display: none;
  transition: width 0.3s ease-in-out;
}

#password-strength-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr);
}

#password-requirements {
  font-size: 0.8rem;
  margin-top: 5px;
  display: none;
}

#password-requirements ul {
  list-style: none;
  padding: 0;
}

#password-requirements li {
  color: red;
}

#password-requirements li.valid {
  color: green;
}

.input:focus + #password-strength-bar,
.input:focus ~ #password-requirements {
  display: block;
}
